<?xml version="1.0" encoding="UTF-8"?>
<java version="13.0.1" class="java.beans.XMLDecoder">
 <object class="com.te3.main.objects.Settings">
  <void property="savePath">
   <string>./saves.xml</string>
  </void>
  <void property="saveTimer">
   <int>300</int>
  </void>
  <void property="shouldShowYoda">
   <boolean>true</boolean>
  </void>
 </object>
</java>
